# Naive Bayes Algotitem is  only used when we want to work with text data

In [1]:
import pandas as pd
import re #re here is the regex module of python
import numpy as np
from sklearn.model_selection import train_test_split

from sklearn.feature_extraction.text import CountVectorizer
import nltk
nltk.download('stopwords') #Run this command to download and install Stopwords from natural language processor
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/Machine_learning/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
df = pd.read_csv('Restaurant_Reviews.tsv', sep='\t') # define seprator as \t

In [3]:
df

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

In [4]:
df.shape

(1000, 2)

In [5]:
df.Liked.value_counts() ## Cheking the number of liked and disliked reviews in the dataset

0    500
1    500
Name: Liked, dtype: int64

In [37]:
def clean(x):
    s = re.sub('<*?>',' ', x) #removes all html tags
    
    s = re.sub("wasn't", 'was not',s) #removes wasn't to was not
    s = re.sub("don't", 'do not',s)
    s = re.sub("din't", 'did not',s)
    s = re.sub("wouldn't", 'would not',s)
    s = re.sub("won't", 'will not',s)
    s = re.sub("isn't", 'is not',s)
    s = re.sub("needn't", 'need not',s)
    s = re.sub("hasn't", 'has not',s)
    
    s = re.sub('[^A-Za-z]',' ',s) #removes everything else except for a to z and A to Z
    s = re.sub('\s+',' ',s) #removes more than one spaces
    s = s.strip() #removes spaces from the beginning and ending of the sentences
    return s.lower()

In [38]:
df['Review'] = df.Review.apply(clean)

In [39]:
df

                                                Review  Liked
0                                 wow loved this place      1
1                                    crust is not good      0
2             not tasty and the texture was just nasty      0
3    stopped by during the late may bank holiday of...      1
4    the selection on the menu was great and so wer...      1
..                                                 ...    ...
995  i think food should have flavor and texture an...      0
996                            appetite instantly gone      0
997  overall i was not impressed and would not go back      0
998  the whole experience was underwhelming and i t...      0
999  then as if i hadn t wasted enough of my life t...      0

[1000 rows x 2 columns]

In [40]:
x = df.Review.values

In [41]:
x.shape

(1000,)

In [42]:
x.ndim

1

In [43]:
y = df.Liked.values

In [44]:
y.shape

(1000,)

In [45]:
y.ndim

1

## Split data

In [46]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.20,random_state=12)

## Now Apply CountVectorizer

In [47]:
words = stopwords.words('english')

In [48]:
# getting stopwords from nltk 
for i in list(words):
    print(i,end=',')

i,me,my,myself,we,our,ours,ourselves,you,you're,you've,you'll,you'd,your,yours,yourself,yourselves,he,him,his,himself,she,she's,her,hers,herself,it,it's,its,itself,they,them,their,theirs,themselves,what,which,who,whom,this,that,that'll,these,those,am,is,are,was,were,be,been,being,have,has,had,having,do,does,did,doing,a,an,the,and,but,if,or,because,as,until,while,of,at,by,for,with,about,against,between,into,through,during,before,after,above,below,to,from,up,down,in,out,on,off,over,under,again,further,then,once,here,there,when,where,why,how,all,any,both,each,few,more,most,other,some,such,no,nor,not,only,own,same,so,than,too,very,s,t,can,will,just,don,don't,should,should've,now,d,ll,m,o,re,ve,y,ain,aren,aren't,couldn,couldn't,didn,didn't,doesn,doesn't,hadn,hadn't,hasn,hasn't,haven,haven't,isn,isn't,ma,mightn,mightn't,mustn,mustn't,needn,needn't,shan,shan't,shouldn,shouldn't,wasn,wasn't,weren,weren't,won,won't,wouldn,wouldn't,

In [49]:
#checking if now, no, don't , do not , not are present or not
if 'no' in words:
    print("no is present")
if 'not' in words:
    print("not is present")
if 'never' in words:
    print("never is present")
if "don't" in words:
    print("don't is present")
if 'do not' in words:
    print("do not is present")
if "din't" in words:
    print("din't is present")
if 'did not' in words:
    print("did not is present")
if "wouldn't" in words:
    print("wouldn't is present")
if 'would not' in words:
    print("would not is present")
if 'will not' in words:
    print("will not is present")
if "won't" in words:
    print("won't is present")
if "wasn't" in words:
    print("wasn't is present")
if "isn't" in words:
    print("isn't is present")
if "needn't" in words:
    print("needn't is present")
if "hasn't" in words:
    print("hasn't is present")

no is present
not is present
don't is present
wouldn't is present
won't is present
wasn't is present
isn't is present
needn't is present
hasn't is present

## now we have to make sure that all the negative words are removed from 'words = stopwords.words('english')' before we feed it to 'count_vectorizer = CountVectorizer(stop_words=words)'

In [50]:
#Removinf all the negative words from the "words" variable
negative_words = ['no','not','never', "don't", "do not", "din't", "did not", "wouldn't", "would not"]
if 'no' in words:
    words.remove("no")
if 'not' in words:
    words.remove("not")
if 'never' in words:
    words.remove("never")
# if "don't" in words:
#     words.remove("don't")
# if 'do not' in words:
#     words.remove("do not")
# if "din't" in words:
#     words.remove("din't")
# if 'did not' in words:
#     words.remove("did not")
# if "wouldn't" in words:
#     words.remove("wouldn't")
# if 'would not' in words:
#     words.remove("would not")
# if 'will not' in words:
#     words.remove("will not")
# if "won't" in words:
#     words.remove("won't")
# if "wasn't" in words:
#     words.remove("wasn't")
# if "isn't" in words:
#     words.remove("isn't")
# if "needn't" in words:
#     words.remove("needn't")
# if "hasn't" in words:
#     words.remove("hasn't")

In [51]:
#again rechecking if negative words are present or not 
negative_words = ['no','not','never', "don't", "do not", "din't", "did not", "wouldn't", "would not"]
if 'no' in words:
    print("no is present")
if 'not' in words:
    print("not is present")
if 'never' in words:
    print("never is present")
if "don't" in words:
    print("don't is present")
if 'do not' in words:
    print("do not is present")
if "din't" in words:
    print("din't is present")
if 'did not' in words:
    print("did not is present")
if "wouldn't" in words:
    print("wouldn't is present")
if 'would not' in words:
    print("would not is present")
if 'will not' in words:
    print("will not is present")
if "won't" in words:
    print("won't is present")
if "wasn't" in words:
    print("wasn't is present")
if "isn't" in words:
    print("isn't is present")
if "needn't" in words:
    print("needn't is present")
if "hasn't" in words:
    print("hasn't is present")
else:
    print("no negative words are present")

don't is present
wouldn't is present
won't is present
wasn't is present
isn't is present
needn't is present
hasn't is present

In [52]:
count_vectorizer = CountVectorizer(stop_words=words) #initialization

In [53]:
cv_train = count_vectorizer.fit_transform(xtrain) # transforming data from text to integers
cv_test = count_vectorizer.transform(xtest)

In [54]:
cv_train.shape

(800, 1653)

In [55]:
cv_train.ndim

2

In [56]:
cv_test.shape

(200, 1653)

In [57]:
cv_test.ndim

2

## Now we can apply Naive Bayes Algotitem Machine Learning model

In [58]:
from sklearn.naive_bayes import MultinomialNB

In [59]:
nb = MultinomialNB() #initialization

In [60]:
nb.fit(cv_train,ytrain)

MultinomialNB()

In [61]:
test_score = nb.score(cv_test,ytest)

In [62]:
print(test_score)

0.77

## Evaluating model

In [63]:
test = ["I wouldn't have eaten the food if I had known", 
        "I won't eat here ever again", 
        "The food was good", 
        "It was a good meal",
       "The food was not upto the mark like it used to in previous years", 
        "I should not have ordered these. It's bad...It's really bad",
       "Awesome Food !!!...Good service", 
        "I am satisfied with the food",
       "They needn't have to make the order process so complicated",
       "They din't have to go above and beyond but they did it was cool.....I loved it",
       "The meal wasn't satisfactory",
       "The food was bad"]
clean_data = []
for k in test:
    clean_data.append(clean(k))

In [64]:
test1 = count_vectorizer.transform(clean_data)

In [65]:
nb.predict(test1) # 0 means negative review and 1 means positive review

array([0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0])

In [147]:
#  "They din't have to go above and beyond but they did it was cool.....I loved it", 
# was predicted correctly in this model
# In this model also ""I am satisfied with the food"" was predicted incorrectly

# Example 2

In [68]:
## Detect spam and ham email messages using naive bayes algorithm

In [74]:
#spam_ham_dataset.csv
df2 = pd.read_csv('spam_ham_dataset.csv', sep=',') # define seprator as ,

In [75]:
df2

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [79]:
df2.shape

(5171, 4)

In [80]:
def clean(x):
    s = re.sub('<*?>',' ', x) #removes all html tags
    
    s = re.sub("wasn't", 'was not',s) #removes wasn't to was not
    s = re.sub("don't", 'do not',s)
    s = re.sub("din't", 'did not',s)
    s = re.sub("wouldn't", 'would not',s)
    s = re.sub("won't", 'will not',s)
    s = re.sub("isn't", 'is not',s)
    s = re.sub("needn't", 'need not',s)
    s = re.sub("hasn't", 'has not',s)
    s = re.sub("shan't",'shall not',s)
    
    s = re.sub('[^A-Za-z]',' ',s) #removes everything else except for a to z and A to Z
    s = re.sub('\s+',' ',s) #removes more than one spaces
    s = s.strip() #removes spaces from the beginning and ending of the sentences
    return s.lower()

In [82]:
df2['text'] = df.text.apply(clean)

In [83]:
df2

,Unnamed: 0,label,text,label_num
0,605,ham,subject enron methanol meter this is a follow ...,0
1,2349,ham,subject hpl nom for january see attached file ...,0
2,3624,ham,subject neon retreat ho ho ho we re around to ...,0
3,4685,spam,subject photoshop windows office cheap main tr...,1
4,2030,ham,subject re indian springs this deal is to book...,0
...,...,...,...,...
5166,1518,ham,subject put the on the ft the transport volume...,0
5167,404,ham,subject and following noms hpl can t take the ...,0
5168,2933,ham,subject calpine daily gas nomination julie as ...,0
5169,1409,ham,subject industrial worksheets for august activ...,0
5170,4807,spam,subject important online banking alert dear va...,1

In [85]:
x = df2.text.values

In [86]:
x.shape

(5171,)

In [87]:
x.ndim

1

In [90]:
y = df2.label_num.values

In [91]:
y.shape

(5171,)

In [92]:
y.ndim

1

# Split data

In [93]:
from sklearn.model_selection import train_test_split

In [94]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.20,random_state=12)

In [95]:
from sklearn.feature_extraction.text import CountVectorizer
import nltk
nltk.download('stopwords') #Run this command to download and install Stopwords from natural language processor
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/Machine_learning/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [96]:
words = stopwords.words('english')

In [97]:
# getting stopwords from nltk 
for i in list(words):
    print(i,end=',')

i,me,my,myself,we,our,ours,ourselves,you,you're,you've,you'll,you'd,your,yours,yourself,yourselves,he,him,his,himself,she,she's,her,hers,herself,it,it's,its,itself,they,them,their,theirs,themselves,what,which,who,whom,this,that,that'll,these,those,am,is,are,was,were,be,been,being,have,has,had,having,do,does,did,doing,a,an,the,and,but,if,or,because,as,until,while,of,at,by,for,with,about,against,between,into,through,during,before,after,above,below,to,from,up,down,in,out,on,off,over,under,again,further,then,once,here,there,when,where,why,how,all,any,both,each,few,more,most,other,some,such,no,nor,not,only,own,same,so,than,too,very,s,t,can,will,just,don,don't,should,should've,now,d,ll,m,o,re,ve,y,ain,aren,aren't,couldn,couldn't,didn,didn't,doesn,doesn't,hadn,hadn't,hasn,hasn't,haven,haven't,isn,isn't,ma,mightn,mightn't,mustn,mustn't,needn,needn't,shan,shan't,shouldn,shouldn't,wasn,wasn't,weren,weren't,won,won't,wouldn,wouldn't,

In [98]:
#checking if now, no, don't , do not , not are present or not
if 'no' in words:
    print("no is present")
if 'not' in words:
    print("not is present")
if 'never' in words:
    print("never is present")
if "don't" in words:
    print("don't is present")
if 'do not' in words:
    print("do not is present")
if "din't" in words:
    print("din't is present")
if 'did not' in words:
    print("did not is present")
if "wouldn't" in words:
    print("wouldn't is present")
if 'would not' in words:
    print("would not is present")
if 'will not' in words:
    print("will not is present")
if "won't" in words:
    print("won't is present")
if "wasn't" in words:
    print("wasn't is present")
if "isn't" in words:
    print("isn't is present")
if "needn't" in words:
    print("needn't is present")
if "hasn't" in words:
    print("hasn't is present")

no is present
not is present
don't is present
wouldn't is present
won't is present
wasn't is present
isn't is present
needn't is present
hasn't is present

In [99]:
#Removinf all the negative words from the "words" variable
negative_words = ['no','not','never', "don't", "do not", "din't", "did not", "wouldn't", "would not"]
if 'no' in words:
    words.remove("no")
if 'not' in words:
    words.remove("not")
if 'never' in words:
    words.remove("never")
if "don't" in words:
    words.remove("don't")
if 'do not' in words:
    words.remove("do not")
if "din't" in words:
    words.remove("din't")
if 'did not' in words:
    words.remove("did not")
if "wouldn't" in words:
    words.remove("wouldn't")
if 'would not' in words:
    words.remove("would not")
if 'will not' in words:
    words.remove("will not")
if "won't" in words:
    words.remove("won't")
if "wasn't" in words:
    words.remove("wasn't")
if "isn't" in words:
    words.remove("isn't")
if "needn't" in words:
    words.remove("needn't")
if "hasn't" in words:
    words.remove("hasn't")

In [100]:
#again rechecking if negative words are present or not 
negative_words = ['no','not','never', "don't", "do not", "din't", "did not", "wouldn't", "would not"]
if 'no' in words:
    print("no is present")
if 'not' in words:
    print("not is present")
if 'never' in words:
    print("never is present")
if "don't" in words:
    print("don't is present")
if 'do not' in words:
    print("do not is present")
if "din't" in words:
    print("din't is present")
if 'did not' in words:
    print("did not is present")
if "wouldn't" in words:
    print("wouldn't is present")
if 'would not' in words:
    print("would not is present")
if 'will not' in words:
    print("will not is present")
if "won't" in words:
    print("won't is present")
if "wasn't" in words:
    print("wasn't is present")
if "isn't" in words:
    print("isn't is present")
if "needn't" in words:
    print("needn't is present")
if "hasn't" in words:
    print("hasn't is present")
else:
    print("no negative words are present")

no negative words are present

In [101]:
count_vectorizer = CountVectorizer(stop_words=words) #initialization

In [129]:
cv_train = count_vectorizer.fit_transform(xtrain)
cv_test = count_vectorizer.transform(xtest)

In [130]:
cv_train.shape

(4136, 39211)

In [131]:
cv_train.ndim

2

In [132]:
cv_test.shape

(1035, 39211)

In [133]:
cv_test.ndim

2

## Now we can apply Naive Bayes Algotitem Machine Learning model

In [134]:
from sklearn.naive_bayes import MultinomialNB

In [135]:
nb = MultinomialNB() #initialization

In [136]:
nb.fit(cv_train,ytrain)

MultinomialNB()

In [137]:
test_score = nb.score(cv_test,ytest)

In [138]:
print(test_score)

0.9748792270531401

In [140]:
nb.predict(cv_test)

array([0, 0, 0, ..., 0, 1, 0])

In [144]:
test = ["Congractulations you have won $1000 please click here to visit our website to claim rewards", 
        "Hey man when are you going to arrive", 
        "Call me when you are free...It's urgent", 
        "It was a good meal...Thankyou. I hope we can go out again sometimes",
       "Your account is at risk!!!!...please contact admin for more information", 
        "Did you know that you can save a ton of money by downloading this application....click here to know more",
       "Thanks man you'r a life saver ....Thank you so much", 
        "Are you sufferring from diebaties...Try this 5 ways to control your blood sugar level",
       "Dude are you free ....Can I call you now",
       "Your IRS tax refund is pending must accept within 24 hours",
       "Your mobile recharge will end soon please recharge you mobile to continue services",
       "Hey mom I will reach home by tommorow 10 AM"]
clean_data = []
for k in test:
    clean_data.append(clean(k))

In [145]:
cv_test1 = count_vectorizer.transform(clean_data)

In [146]:
nb.predict(cv_test1) # 0 means ham review and 1 means spam review

array([1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1])

In [ ]:
# "Thanks man you'r a life saver ....Thank you so much" should be 0 but it's giving 1
# " Your account is at risk!!!!...please contact admin for more information" should be 1 but it's giving 0
# "Hey mom I will reach home by tommorow 10 AM" should be 0 but it's giving 1

## Example 3

## Now applying Naive Bayes algorithm on Movie reviews

In [158]:
#IMDB_Dataset.csv
df3 = pd.read_csv('IMDB_Dataset.csv', sep=',') # define seprator as ,

In [159]:
df3

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [160]:
#Replacing positive and negative with 1's and 0's
df3['sentiment'] = df3.sentiment.map({'positive':1,'negative':0})

In [161]:
df3

                                                  review  sentiment
0      One of the other reviewers has mentioned that ...          1
1      A wonderful little production. <br /><br />The...          1
2      I thought this was a wonderful way to spend ti...          1
3      Basically there's a family where a little boy ...          0
4      Petter Mattei's "Love in the Time of Money" is...          1
...                                                  ...        ...
49995  I thought this movie did a down right good job...          1
49996  Bad plot, bad dialogue, bad acting, idiotic di...          0
49997  I am a Catholic taught in parochial elementary...          0
49998  I'm going to have to disagree with the previou...          0
49999  No one expects the Star Trek movies to be high...          0

[50000 rows x 2 columns]

In [162]:
def clean(x):
    s = re.sub('<*?>',' ', x) #removes all html tags
    
    s = re.sub("wasn't", 'was not',s) #removes wasn't to was not
    s = re.sub("don't", 'do not',s)
    s = re.sub("din't", 'did not',s)
    s = re.sub("wouldn't", 'would not',s)
    s = re.sub("won't", 'will not',s)
    s = re.sub("isn't", 'is not',s)
    s = re.sub("needn't", 'need not',s)
    s = re.sub("hasn't", 'has not',s)
    
    s = re.sub('[^A-Za-z]',' ',s) #removes everything else except for a to z and A to Z
    s = re.sub('\s+',' ',s) #removes more than one spaces
    s = s.strip() #removes spaces from the beginning and ending of the sentences
    return s.lower()

In [163]:
df3['review'] = df3.review.apply(clean)

In [164]:
df3

                                                  review  sentiment
0      one of the other reviewers has mentioned that ...          1
1      a wonderful little production br br the filmin...          1
2      i thought this was a wonderful way to spend ti...          1
3      basically there s a family where a little boy ...          0
4      petter mattei s love in the time of money is a...          1
...                                                  ...        ...
49995  i thought this movie did a down right good job...          1
49996  bad plot bad dialogue bad acting idiotic direc...          0
49997  i am a catholic taught in parochial elementary...          0
49998  i m going to have to disagree with the previou...          0
49999  no one expects the star trek movies to be high...          0

[50000 rows x 2 columns]

In [165]:
x = df3.review.values

In [166]:
x.shape

(50000,)

In [167]:
x.ndim

1

In [168]:
y = df3.sentiment.values

In [169]:
y.shape

(50000,)

In [170]:
y.ndim

1

## Split data

In [172]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.20,random_state=12)

## Now Apply CountVectorizer

In [173]:
words = stopwords.words('english')

In [174]:
# getting stopwords from nltk 
for i in list(words):
    print(i,end=',')

i,me,my,myself,we,our,ours,ourselves,you,you're,you've,you'll,you'd,your,yours,yourself,yourselves,he,him,his,himself,she,she's,her,hers,herself,it,it's,its,itself,they,them,their,theirs,themselves,what,which,who,whom,this,that,that'll,these,those,am,is,are,was,were,be,been,being,have,has,had,having,do,does,did,doing,a,an,the,and,but,if,or,because,as,until,while,of,at,by,for,with,about,against,between,into,through,during,before,after,above,below,to,from,up,down,in,out,on,off,over,under,again,further,then,once,here,there,when,where,why,how,all,any,both,each,few,more,most,other,some,such,no,nor,not,only,own,same,so,than,too,very,s,t,can,will,just,don,don't,should,should've,now,d,ll,m,o,re,ve,y,ain,aren,aren't,couldn,couldn't,didn,didn't,doesn,doesn't,hadn,hadn't,hasn,hasn't,haven,haven't,isn,isn't,ma,mightn,mightn't,mustn,mustn't,needn,needn't,shan,shan't,shouldn,shouldn't,wasn,wasn't,weren,weren't,won,won't,wouldn,wouldn't,

In [175]:
#checking if now, no, don't , do not , not are present or not
if 'no' in words:
    print("no is present")
if 'not' in words:
    print("not is present")
if 'never' in words:
    print("never is present")
if "don't" in words:
    print("don't is present")
if 'do not' in words:
    print("do not is present")
if "din't" in words:
    print("din't is present")
if 'did not' in words:
    print("did not is present")
if "wouldn't" in words:
    print("wouldn't is present")
if 'would not' in words:
    print("would not is present")
if 'will not' in words:
    print("will not is present")
if "won't" in words:
    print("won't is present")
if "wasn't" in words:
    print("wasn't is present")
if "isn't" in words:
    print("isn't is present")
if "needn't" in words:
    print("needn't is present")
if "hasn't" in words:
    print("hasn't is present")

no is present
not is present
don't is present
wouldn't is present
won't is present
wasn't is present
isn't is present
needn't is present
hasn't is present

## now we have to make sure that all the negative words are removed from 'words = stopwords.words('english')' before we feed it to 'count_vectorizer = CountVectorizer(stop_words=words)'

In [176]:
#Removinf all the negative words from the "words" variable
negative_words = ['no','not','never', "don't", "do not", "din't", "did not", "wouldn't", "would not"]
if 'no' in words:
    words.remove("no")
if 'not' in words:
    words.remove("not")
if 'never' in words:
    words.remove("never")
# if "don't" in words:
#     words.remove("don't")
# if 'do not' in words:
#     words.remove("do not")
# if "din't" in words:
#     words.remove("din't")
# if 'did not' in words:
#     words.remove("did not")
# if "wouldn't" in words:
#     words.remove("wouldn't")
# if 'would not' in words:
#     words.remove("would not")
# if 'will not' in words:
#     words.remove("will not")
# if "won't" in words:
#     words.remove("won't")
# if "wasn't" in words:
#     words.remove("wasn't")
# if "isn't" in words:
#     words.remove("isn't")
# if "needn't" in words:
#     words.remove("needn't")
# if "hasn't" in words:
#     words.remove("hasn't")

In [177]:
#again rechecking if negative words are present or not 
negative_words = ['no','not','never', "don't", "do not", "din't", "did not", "wouldn't", "would not"]
if 'no' in words:
    print("no is present")
if 'not' in words:
    print("not is present")
if 'never' in words:
    print("never is present")
if "don't" in words:
    print("don't is present")
if 'do not' in words:
    print("do not is present")
if "din't" in words:
    print("din't is present")
if 'did not' in words:
    print("did not is present")
if "wouldn't" in words:
    print("wouldn't is present")
if 'would not' in words:
    print("would not is present")
if 'will not' in words:
    print("will not is present")
if "won't" in words:
    print("won't is present")
if "wasn't" in words:
    print("wasn't is present")
if "isn't" in words:
    print("isn't is present")
if "needn't" in words:
    print("needn't is present")
if "hasn't" in words:
    print("hasn't is present")
else:
    print("no negative words are present")

don't is present
wouldn't is present
won't is present
wasn't is present
isn't is present
needn't is present
hasn't is present

In [178]:
count_vectorizer = CountVectorizer(stop_words=words) #initialization

In [179]:
cv_train = count_vectorizer.fit_transform(xtrain) # transforming data from text to integers
cv_test = count_vectorizer.transform(xtest)

In [180]:
cv_train.shape

(40000, 90496)

In [181]:
cv_train.ndim

2

In [182]:
cv_test.shape

(10000, 90496)

In [183]:
cv_test.ndim

2

## Now we can apply Naive Bayes Algotitem Machine Learning model

In [184]:
from sklearn.naive_bayes import MultinomialNB

In [185]:
nb = MultinomialNB() #initialization

In [186]:
nb.fit(cv_train,ytrain)

MultinomialNB()

In [187]:
test_score = nb.score(cv_test,ytest)

In [188]:
print(test_score)

0.8552

In [192]:
test = ["The first 2 episodes are good enough to hook you up", 
        "The movie was cringy", 
        "The series could have been good. It's disappointing", 
        "Why did I watch this...",
       "The movie was excellent ....Amazing story Loved it", 
        "The movie was hilariously bad",
          ]
clean_data = []
for k in test:
    clean_data.append(clean(k))

In [193]:
test1 = count_vectorizer.transform(clean_data)

In [194]:
nb.predict(test1) # 0 means negative review and 1 means positive review

array([1, 1, 0, 0, 1, 0])

In [ ]:
# "The movie was cringy" should have been 0 but its detecting 1